*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --pink:#ee96b5  ;
    --purple: #d796ee ;
    --blue: #9896ee ;
    --lightblue: #9beaef ;
    --border:0.5px solid lightgrey;
}

 body,html{
    height: 100vh;
 }

 #container{
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1.3fr 5fr 1.7fr;
    grid-template-areas: 
                      "n m p";
    
}


    /* Nav style */
   
 #nav{
       background-color:#ffffff ;
       display: grid;
       grid-area: n;
       grid-template-rows: repeat(12,1fr);
       place-items: centre;
    }

#logo{
    grid-row: 1/3;
    font-size:larger ;
    color: #9896ee;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash{
    grid-row: 3/4;
}

.User{
    grid-row: 4/5;
}

.Userall{
    grid-row: 5/6;
}
 
.Stats{
    grid-row: 6/7;
}    

.Docu{
    grid-row: 7/8;
}

.Setting{
    grid-row: 8/9;
}



.btn{
    width: 45px;
    height: 45px;
    opacity: 0.4;
    padding: 10px;
    
}

.active{
    width: 50px;
    height: 50px;
    border-radius: 30%;

}

a{
    padding: 5px 40px 5px;
    
}

/* main */



#main{
    padding: 0px 100px;
    grid-area: m;
    display: grid;
    grid-template-rows: 1fr 1fr auto 1fr;
    background-color: #f9fafa;
}
.head h2{
    color: #141848;
    font-size: 2.5em;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.3px;
    margin-top: 50px;
}

section.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    align-content: flex-start;
    position: relative;
    bottom: 20px;
    
}

.first{
    width: 150px;
    height: 100px;
    border-radius: 7%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 6px 25px  grey;
}
.second{
    width: 150px;
    height: 100px;
    border-radius: 7%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 6px 25px grey;
    
}


.third{
    width: 150px;
    height: 100px;
    border-radius: 7%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 6px 25px grey;
   
}
.fourth{
    width: 150px;
    height: 100px;
    border-radius: 7%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2px; 
    box-shadow: 0px 6px 25px grey;
    
}

.sign i{
    font-size: 20px;
    padding: 10px;
}




.personimg{

   width: 90px;
   height: 50px;

}


section.middle {
    box-shadow: 2px 15px 20px lightgrey;
    padding:30px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    position: relative;
    bottom: 70px;
    width: 715px;
    border-radius: 10px 10px 10px;
    
    
}

.groupheader{
    display: flex;
    flex-direction: column;

}

.groupheader p1{
    font-size: large;
    font-family: cursive;
    font-weight: bold;
    padding-left: 5px;
}

.groupheader p2{
    opacity: .5;
    font-size: small;
    padding-left: 5px;
    
    
}

.groupheader p3{
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.groupmessage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.likecmnt {
    
    margin-bottom: 30px;
    display: flex;
    position: relative;
    top: 5px;
    font-size: 25px;
    font-family: monospace;
    
    
}

.personimg{
    border-radius: 50%;
    height: 55px;
    width: 60px;
}

.bi-suit-heart{
    color: #ef9eba;
}

.bi-chat-dots{
    color: #6b6b6b;
}

.likecmnt p4{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
    margin-right: 25px;
    margin-top: 2px;
}
.likecmnt p5{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
    margin-top: 2px;
}
.input{
    position: relative;
    bottom: 20px;
}


.bi-send{
  position: relative;
  float: right;
  right: 315px;
  bottom: 2.5px;
  background-color: #d796ee;
  padding: 8.5px ;
  border-radius: 50%;
  
}

.reply{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.reply p6{
    
        font-size: 15px;
        font-family: cursive;
        font-weight: lighter;
        padding-left: 5px;
 
}

.reply p7{
    opacity: .5;
    font-size: small;
    padding-left: 5px;
}

.reply p8{
    font-size: medium;
    margin-top: 10px;
    padding-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.reply i{
    opacity: .6;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    color: var(--purple);
}

section.bottom{
    box-shadow: 2px 15px 20px lightgrey;
    padding:30px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 190px;
    position: relative;
    top: -40px;
    width: 715px;
    border-radius: 10px 10px 10px;
    
   
}
.groupfooter{
    display: flex;
    flex-direction: column;
}

.bottom p9{
    font-size: large;
    font-family: cursive;
    font-weight: bold;
    padding-left: 5px;
}

.bottom p10{
    opacity: .5;
    font-size: small;
    padding-left: 5px;
    
}

.bottom p11{
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon{
    
    display: flex;
    position: relative;
    top: 5px;
    font-size: 25px;
    font-family: monospace;
    
}

.icon p12{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
    margin-right: 25px;
    margin-top: 2px;
}

.icon p13{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
    margin-right: 25px;
    margin-top: 2px;
}

#profile{
padding: 0px 20px;
grid-area: p;
display: grid;
grid-template-rows: 8% 3% 20% 25%;
}



.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.picture img{
    width: 200px;
    border-radius: 50%;
    
}

.about{
    margin: 20px 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about name{
   font-size: 20px;
   font-weight: bold;
   font-family: cursive;
}
.about p14{
    font-size: 20;
    opacity: 1;
    color: silver;
}

.para {
   opacity: .8;
   font-size: 20;
}

.symbol img{
    width: 35px;
    height: 35px;
    padding: 5px;   
   
}
.symbol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.symbol p{
    font-size: 12px;
    opacity: .5;

}

.one{
    background-color: #ee96b5;
    border-radius: 7px 7px 7px;
}
.two{
    background-color: #d796ee;
    border-radius: 7px 7px 7px;
}

.general{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 40px;
}

p14{
    font-weight: bold;
    margin-top: 10px;
    
}

.search-bar{
    width: 100%;
    max-width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    background-color:#f9fafa;
    margin-top: 10px;
    border: 1px solid lightgray;
    

}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 18px;
    
}

.search-bar button img{
    width: 15px;
    height: 15px;
   
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

.input{
    width: 100%;
    max-width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    background-color:#f9fafa;
    margin-top: 10px;
    border: 1px solid lightgray;
}
.input input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 18px;

}

.input button img{
    width: 20px;
    height: 20px;
   
}

.input button{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: var(--purple);
    cursor: pointer;
}